:root{
  --color-white: #F0F0F0;
  --color-black: #2B2B2BF6;
  --color-dark-blue: #1e1e44;
  --bg-color: #87879C;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* ===== BASE (MOBILE) STYLES ===== */

.container {
  color: var(--color-white);
  background: var(--bg-color);
  min-width: 100dvw;
  min-height: 100vh;

  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: min-content 1fr min-content;
}

header{
  background: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .75rem;

  width: 100dvw;

  padding: 1rem;
  position: fixed;
  top: 0;
  z-index: 10;
}

header img{
  width: 40px;
  height: 40px;
}

header nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  width: 100%;
}

header .lang-wrapper button{
  color: var(--color-dark-blue);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: .85rem;
  background: none;
  border: none;
  cursor: pointer;
}

header ul{
  display: flex;
  gap: 1.25rem;
}

header ul li{
  list-style: none;
}

li a{
  color: var(--color-white);
  text-decoration: none;
  font-size: .9rem;
}

main{
  width: 100dvw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main section{
  width: 100dvw;
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

}

main #about .text-wrapper{
  margin-top: 2rem;
  width: 85dvw;
}

main section p{
  color: var(--color-dark-blue);
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  font-style: normal;

  margin-bottom: 1.25rem;
}

main section span{
  color: var(--color-white);
}

main #projects{
  color: var(--color-black);
  background: var(--color-white);
}

main #contact{
  background-color: var(--color-black);
}

footer{
  background: var(--color-black);
  padding: 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  header{
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1.5rem;
  }

  header img{
    width: 50px;
    height: 50px;
  }

  header nav{
    flex-direction: column;
    align-items: end;
    width: auto;
  }

  header ul{
    gap: 2rem;
  }

  main #about .text-wrapper{
    width: 50dvw;
  }

  main section p{
    font-size: 1.8rem;
  }
}

@media (min-width: 1024px) {
  header ul{
    gap: 3rem;
  }

  main .text-wrapper{
    width: 50dvw;
  }

  main section p{
    font-size: 2rem;
  }
}