:root{
  --color-white: #F0F0F0;
  --color-light-grey: #E5E7EB;
  --bg-color: #87879C;
  --color-dark-grey: #54575A;
  --color-black: #2B2B2BF6;
  --color-light-blue: #A9A9CE;
  --color-dark-blue: #1E1E44;
}

@font-face{
  font-family: JetBrains Mono Nerd;
  src: url(../fonts/JetBrainsMonoNerdFontMono-Regular.ttf);
}

*{
  font-family: "JetBrains Mono Nerd", monospace;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* a{
  color: var(--color-white);
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.container {
  color: var(--color-white);
  background: var(--bg-color);
  min-width: 100dvw;
  min-height: 100vh;

  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: min-content 1fr min-content;
}

header{
  background: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .75rem;

  width: 100dvw;

  padding: 1rem;
  position: fixed;
  top: 0;
  z-index: 10;
}

header img{
  width: 40px;
  height: 40px;
}

header nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  width: 100%;
}

header .lang-wrapper button{
  color: var(--color-dark-blue);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: .85rem;
  background: none;
  border: none;
  cursor: pointer;
}

header ul{
  display: flex;
  gap: 1.25rem;
}

header ul li{
  list-style: none;
}

li a{
  font-size: .9rem;
}

main{
  width: 100dvw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main section{
  width: 100dvw;
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  padding: 1rem;
}

main #about img{
  width: 128px;
  height: 128px;
  
  border-radius: 50%;
  object-fit: cover;
}

main #about .text-wrapper{
  margin-top: 2rem;
  width: 85dvw;
}

main section p{
  color: var(--color-dark-blue);
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  font-style: normal;

  margin-bottom: 1.25rem;
}

main section span{
  color: var(--color-white);
}

main #projects{
  color: var(--color-black);
  background: var(--color-white);

  justify-content: center;
  scroll-margin-top: 10rem;
}

main #projects .card-wrapper{
  display: flex;
  flex-direction: column;
  gap: 2rem;

  margin-top: 2rem;
}

main #projects figure{
  max-width: 290px;

  display: flex;
  flex-direction: column;
  text-align: center;
  
  margin: 0 auto;

  border-radius: 8px;
  overflow: hidden;

  z-index: 0;
}

main #projects .card img{
  width:100%;
  height: 210px;
  
  display: block;
  
  object-fit: cover;
  aspect-ratio: 16/9;
}

main #projects figcaption{
  background: var(--color-light-grey);

  height: 16.5rem;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 8px;

  z-index: 1;
}

main #projects figcaption h3{
  color: var(--color-black);
  font-size: 1rem;
}

main #projects .tag-wrapper{
  display: flex;
  justify-content: center;
  gap: 1rem;

  margin: 0.5rem 0;
}

main #projects .tag{
  color: var(--color-white);
  font-size: 0.8rem;
  background: var(--color-light-blue);
  padding: 0.3rem;

  border-radius: 3px;
}

main #projects figcaption p{
  color: var(--color-dark-grey);
  font-size: 0.9rem;
  font-weight: 400;
}

main #projects figcaption .button-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

main #projects figcaption button{
  color: var(--color-white);
  background: var(--color-dark-blue);

  padding: .4rem;

  display: flex;
  justify-content: center;
  gap: 5px;

  cursor: pointer;

  border: none;
  border-radius: 3px;
}

main figcaption button img{
  filter: invert(1) brightness(2);
  width: 17px;
  height: 17px;
}

main #contact{
  background-color: var(--color-black);
}

main #contact .contact-card {
  background: var(--color-white);
  background-image: url(../images/leaf_white.svg);
  background-position: center;
  background-repeat: repeat-x;
  
  color: var(--color-black);
  border-radius: 12px;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1.25rem;
  width: 90%;
  text-align: center;
  position: relative;

  z-index: 3;
}

main #contact .contact-links {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
}

main #contact .contact-links a {
  font-size: .8rem;

  display: flex;
  align-items: center;
  gap: 0.6rem;
  color: var(--color-black);
}

main #contact .contact-links img{
  max-width: 1.8rem;
}

footer{
  background: var(--color-black);
  padding: 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  header{
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1.5rem;
  }

  header img{
    width: 50px;
    height: 50px;
  }

  header nav{
    flex-direction: column;
    align-items: end;
    width: auto;
  }

  header ul{
    gap: 2rem;
  }

  main #about .text-wrapper,
  main #projects .card-wrapper{
    width: 50dvw;
  }
  
  main #projects{
    scroll-margin-top: 5rem;
  }

  main section p{
    font-size: 1.8rem;
  }

  main #projects .card-wrapper{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;;
    gap: 3rem;
  }
}

@media (min-width: 1024px) {
  header ul{
    gap: 3rem;
  }

  main #about img{
    width: 256px;
    height: 256px;

    margin-top: 3rem;
  }

  main .text-wrapper,
  main #projects .card-wrapper{
    width: 50dvw;
  }

  main section p{
    font-size: 2rem;
  }

  main #projects{

    scroll-margin-top: 5.7rem;
  }

  main #projects .card-wrapper{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  main #contact .contact-card{
    width: 50rem;
    height: 19rem;
  }
}